html, body {
    height: 100%;
}

body {
    margin: 0;
}

/*table {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}*/

table {
  vertical-align: middle;
}

td {
  border: 5px solid black;
  height: 50px;
  width: 50px;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  text-align: center;
}

.row {
  vertical-align: middle;
}

.cell {
  /*display: inline-block;*/
  /*border: 5px solid black;*/
  background-image:
  linear-gradient(
    black, gray
  );
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  transform: rotate(90deg);
  transform-origin: left top 0;
  overflow: hidden;
}

nav {
  background-image:
  linear-gradient(
    black, gray
  );
  color: white;
  text-align: center;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

#erargh {
  background-color: rgb(255,160,0);
}

/*td {
  border: 5px solid black;
  width: 100px;
  height: 100px;
  background-image:
    linear-gradient(
      black, gray
    );
  color: white;
  font-size: 75px;
  text-align: center;
}*/
